# --- General packages ---

## Package to parse ymal
pyyaml

## Package to validate JSON schema
jsonschema

## Package to create safely keys
inflection

## Packge for monkey patching support
wrapt

## Execute requests
requests

# --- Measurements packages --
psutil