{% extends "layout.html" %}
{% block header %}Stored Profile Runs{% endblock %}


{% block content %}

    {% if profile_runs and profile_runs|length > 0 -%}
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Function Name</th>
                    <th>Received</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for profile_run in profile_runs -%}
                <tr>
                    <td>{{ profile_run.profile_run_id }}</td>
                    <td>26</td>
                    <td>Male</td>
                    <td>
                        <a href="{{ url_for('dashboard.get_profile_run', profile_run_id=profile_run.profile_run_id)}}">
                            More Infos
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    {% else -%}
        <p>No Profile Runs captured</p>
    {% endif %}
{% endblock %}